<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar.html :: header( title = 'Dispositivos')}"></head>
<body>
<main>

    <div class="container px-4 pb-5">
        <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Dispositivos')}"></nav>
        <h1 class="pb-2 border-bottom">Lista de Dispositivos</h1>
        <a class="btn btn-primary mt-4 mb-4" th:href="@{'/dispositivos/new_dispositivo'}">Nuevo Dispositivo</a>
        <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Celular</th>
                <th>Edad</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tec, info : ${listaTecnicos}">
                <td th:text="${info.index}"></td>
                <td th:text="${tec.getFirstName()} + ' ' +${tec.getLastName()}"></td>
                <td th:text="${tec.getDni()}"></td>
                <td th:text="${tec.getPhone()}"></td>
                <td th:text="${tec.getAge()}"></td>
                <td><a class="btn btn-primary" th:href="@{'/edit_tec' + '?id=' + ${tec.getTechnicianID()}}">Editar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>



</main>
<script th:replace="~{fragments/navbar.html :: footer-bootstrap}"></script>
</body>
</html>
